* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-text: #000;
  --color-text-b: #f4f4f4;
  --primary: #88E8F2;
  --secundary: #0058f9;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary);
  color: var(--color-text);
  -webkit-box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.conteiner {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("https://images.pexels.com/photos/3845653/pexels-photo-3845653.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--color-text-b);
}

.maina {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteiner button {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  font-size: 1rem;

}

.conteiner button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: example;
  animation-duration: 5s;
  border-radius: 5px;
}

@keyframes example {
  from {
    font-size: 1rem;
  }

  to {
    font-size: 1.5rem;
  }
}

.conteiner__main.text {
  width: auto;
  height: auto;
  padding-top: 10%;

}

.img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
}

.h3 {
  font-size: 3rem;
}

.mainc.bottom {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translatey(-7rem);
  -webkit-box-shadow: 6px 31px 106px 16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 31px 106px 16px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 31px 106px 16px rgba(0, 0, 0, 0.75);
}

.bigb {
  width: 100%;
  height: auto;
  display: flex;
  background-color: var(--primary);
  background-image: linear-gradient(90deg, var(--primary) 0%, #0058f9 100%);
}

.bigbtn__plan {
  width: 20%;
  height: 150px;
  background-color: transparent;
  border: none;
  color: #f4f4f4;
  text-shadow: 2px 2px 5px #000;
}

.bigbtn__plan:hover {
  background-color: rgba(200, 200, 255);
}

.tabs {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
  background: var(--primary);
  -webkit-box-shadow: 1px -12px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -12px 41px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -12px 41px 0px rgba(0, 0, 0, 0.75);
}

.tab__tabs {
  width: auto;
  height: auto;
}

input {
  display: none;
}

[type=radio]:checked~label {
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: var(--secundary);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  z-index: 10;
}

[type=radio]:checked~label~.tab_content {
  z-index: 1;
  opacity: 1;
  transform: scale(1);
}

.label {
  width: 200px;
  height: 50px;
  padding: 1rem;
  font-size: 1.2rem;

}

.label:hover {
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: var(--secundary);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius:10px;
}

.tab_content {
  width: 70%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  left: 15%;
  margin-top: 1rem;
  border-radius: 10px;
  background: var(--primary);
}

.clinicas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.clinica {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: var(--secundary);
  color: var(--color-text-b);
  border-radius: 12px;
  margin: .5rem;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, .5);

}

.serviços {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.serviço {
  width: 200px;
  height: 250px;
  background-color: var(--secundary);
  color: var(--color-text-b);
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, .5);
  justify-content: center;
  display: flex;
  padding: 1rem
}

.sobre {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.info {
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  background: var(--secundary);
  border-radius: 10px;
  padding: .5rem;
  color: var(--color-text-b);
}
.info:hover{
  width: 70%;
  height: 55px;
  transition: all 1s;
}
.contatos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.contato {
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  background: var(--secundary);
  border-radius: 10px;
  padding: .5rem;
  color: var(--color-text-b);
}
.footer {
  width: 100%;
  height: 200px;
  display: flex;
  padding-top: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary);
  color: var(--color-text);
  -webkit-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;
}