* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-text: #f4f4f4;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #72cdf1;
  color: var(--color-text);
  -webkit-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.conteiner {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("https://images.pexels.com/photos/3845653/pexels-photo-3845653.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--color-text);
}

.maina {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conteiner button {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  font-size: 1rem;
  text-shadow: 2px 3px 5px #000;
}
.conteiner button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: example;
  animation-duration: 5s;
  border-radius: 5px;
}

@keyframes example {
  from {font-size: 1rem;}
  to {font-size: 1.5rem;}
}
.conteiner__main.text {
  width: 400px;
  height: auto;
  padding-top: 10%;
  text-shadow: 6px 10px 6px  rgba(0, 0, 0, 0.9);
}

.img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
}
h2 {
  text-shadow: 2px 3px 2px #000;
}
.h3 {
  font-size: 3rem;
}
.mainc.bottom {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translatey(-7rem);
  -webkit-box-shadow: 6px 31px 106px 16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 31px 106px 16px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 31px 106px 16px rgba(0, 0, 0, 0.75);
}

.bigb {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #7efbe7;
  background-image: linear-gradient(90deg, #7efbe7 0%, #0058f9 100%);
}

.bigbtn__plan {
  width: 20%;
  height: 150px;
  background-color: transparent;
  border: none;
  color: #f4f4f4;
  text-shadow: 2px 2px 5px #000;
}

.bigbtn__plan:hover {
  background-color: rgba(200, 200, 255);
}
.tabs {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
  background: #95e9ff;
  -webkit-box-shadow: 1px -12px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -12px 41px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -12px 41px 0px rgba(0, 0, 0, 0.75);
}

.tab__tabs {
  width:auto;
  height: auto;
}
input {
  display: none;
}
[type=radio]:checked~label {
  backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(109, 163, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 49% 51% 100% 0% / 100% 100% 0% 0%;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
  z-index: 10;
}[type=radio]:checked~label~.tab_content {
  z-index: 1;
  opacity: 1;
  transform: scale(1);
}

.label {
  width: 200px;
  height: 50px;
  padding: 1rem;
  font-size: 1.2rem;

}
.label:hover {
  backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(109, 163, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 49% 51% 100% 0% / 100% 100% 0% 0%;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
}
.tab_content {
  position: absolute;
  width: 70%;
  height: 400px;
  opacity: 0;
  left: 15%;
  margin-top: 1rem;
  border-radius: 10px;
  background: rgb(142, 235, 255);
  background: -moz-linear-gradient(172deg, rgba(142, 235, 255, 1) 0%, rgba(115, 181, 254, 1) 50%, rgba(142, 235, 255, 1) 100%);
  background: -webkit-linear-gradient(172deg, rgba(142, 235, 255, 1) 0%, rgba(115, 181, 254, 1) 50%, rgba(142, 235, 255, 1) 100%);
  background: linear-gradient(172deg, rgba(142, 235, 255, 1) 0%, rgba(115, 181, 254, 1) 50%, rgba(142, 235, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8eebff", endColorstr="#8eebff", GradientType=1);
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
}
.clinicas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.clinica {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: rgba(109, 163, 255, 0.2);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  
}

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #0058f9;
  color: var(--color-text);
  -webkit-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 23px 41px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;
}